
#navbar h1{
    float: none;
    text-align: center;
}
#navbar ul,#navbar ul li{
    float: none;
}
#navbar ul li a{
    padding: 5px;
    border-bottom: 1px #444 dashed;
}
#showcase{
    height: 100%;
}
#showcase .showcase-content{
    padding-top: 70px;
    padding-bottom: 30px;
}
#home-info{
    height: 500px;
}
#home-info .info-img{
    display: none;
}
#home-info .info-content{
    float: none;
    width: 100%;
    
}
.box{
    float: none;
    width: 100%;
}
#about-info .info-right{
    float: none;
    width: 100%;
    margin-top: 30px;
}
#about-info .info-left{
    float: none;
    width: 100%;
}
.l-heading{
    text-align: center;
}
#testimonials{
    height: 100%;
}

#contact-info .box {
    border-bottom: #444 dotted 1px;
}