/* Reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.7em;
}
a{
    text-decoration: none;
    color: #333;
}
h1,h2,h3{
    padding-bottom: 20px;
}
p{
    margin: 10px 0;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    overflow: auto;
}
.bg-dark{
    background: #333;
    color: #fff;
}
.bg-light{
    background: #f4f4f4f4;
    color: #333;
}
.bg-primary{
    background: #f4c08a;
    color: #333;
}
.text-primary{
    color: #f7c08a;
}
.lead{
    font-size: 19px;
}
.btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}
.btn-light{
    background: #f4f4f4f4;
    color: #333;    
}
.btn:hover{
    background: #f7c08a;
    color: #333;
}
.clr{
    clear: both;
}
/*padding*/
.py-1{ padding: 10px;}
.py-2{ padding: 20px;}
.py-3{ padding: 30px;}

/*larg heading*/
.l-heading{
    font-size: 40px;
}
#navbar{
    background-color: #333;
    color: #fff;
    overflow: auto;
}
#navbar a{
    color: #fff;
}
#navbar h1{
    float: left;
    padding-top: 20px;
}
#navbar ul{
    list-style: none;
    float: right;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover , #navbar .current {
    background-color: #444;
    color: #f7c0ba;

}
#showcase {
    background: url(../images/showcase.jpg) no-repeat center center/cover;
    height: 600px;
}
#showcase .showcase-content{
    color: #fff;
    text-align: center;
    padding-top: 170px;
}
#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
}
#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
}
#home-info{
    height: 400px;
}
#home-info .info-img{
    background: url('../images/photo-1.jpg') no-repeat;
    min-height: 100%;
    float: left;
    width: 50%;
}
#home-info .info-content{
    float: right;
    width: 50%;
    padding: 50px 30px;
    height: 100%;
    text-align: center;  
    overflow: hidden;  
}
#home-info .info-content p{
    padding-bottom: 20px;
}
/* feature*/
.box{
    float: left;
    padding: 50px;
    width: 33.3%;
    text-align: center;
}
.box i{
    margin-bottom: 10px;
}
/* About page*/
#about-info .info-right{
    float: right;
    width: 50%;
    min-height: 100%;
}
#about-info .info-right img{
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
}
#about-info .info-left{
    float: left;
    width: 50%;
}
#testimonials{
    background: url(../images/test-bg.jpg) no-repeat center center/cover;
    height: 600px;
    padding-top: 100px;
}
#testimonials h2{
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
    line-height: 2.2rem;
}
#testimonials .testimonial{
    padding: 20px;
    margin-bottom: 40px;
    opacity: 0.9;
    border-radius: 5px;
}
#testimonials .testimonial img{
    width: 100px;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
}
/*Cantact form*/
#cantact-form .form-group{
    margin-bottom: 20px;
}

#cantact-form .form-group label{
    display: block;
    margin-bottom: 5px;
}

#cantact-form .form-group input,
#cantact-form .form-group textarea{
    width: 100%;
    border: 1px solid #dddd;
    padding: 10px;
}
#cantact-form .form-group textarea{
    height: 200px;
}
#cantact-form .form-group input:focus,
#cantact-form .form-group textarea:focus{
    outline: none;
    border-color: #f7c08a;
}
#footer{
    background: #444;
    text-align: center;
    padding: 20px;
    color: #fff;
}
